Matlab/results/
Matlab/LOCAL/
Matlab/data/aarau/
Matlab/data/cer_ireland/weekly_traces/
Matlab/data/cer_ireland/weekly_traces2/
Matlab/lsf*
.DS_Store
.*
Matlab/run_on_brutus
Matlab/data/cer_ireland/cer_db_get_connection.m

